<div class="remove-container container-block">
  <h2 class="container-block-title">
    References
  </h2>
  <ul class="list-unstyled interests-list">
    <li><a target="_blank" href="https://sites.google.com/view/rkanty/home/">Rabenorosoa Kanty</a></li>
    <li><a target="_blank" href="https://gjlaurent.github.io/">Laurent Guillaume</a></li>
    <li><a target="_blank" href="https://m.rakoton.net/">Micky Rakotondrabe</a></li>
     <li><a class="github-button" href="" data-icon="octicon-star">Star</a>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
  </ul>
</div><!--//About-->
